.authBlock {
    margin-top: 25px;
}

#mainForm {
    margin-top: 15px;
}

#mainDiv {
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    margin: 25px;
}

#grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}