<div>
  <p>{{comment.body}}</p>
  <p *ngIf="comment.parentId"></p>
  <div>
    <strong>{{comment.user}}</strong><br>
    {{comment.children.length}} replies<br>
    {{comment.getTimestampDate()}}
    <br>

    <!-- attempt to insert comment button inside comments -->
    <div *ngIf="authService.isLoggedIn">
      <p *ngIf="!replyIsTrue" id="replyLink" (click)="replyToComment()">Reply</p>
      <div *ngIf="replyIsTrue" >
          <app-comment-reply [parent]="comment"></app-comment-reply>
          <p id="cancelLink" (click)="cancelReply()">Cancel</p>
      </div>
    </div>


    <hr>
    <div id="childrenComments">
        <app-comment-details *ngFor="let child of comment.children | sortByTimestamp" [comment]="child"></app-comment-details>



    </div>
  </div>
</div>