<div id="mainNavDiv">
  <div id="navDivOne">
    <p class="navText" [class.active]="isHomeActive" (click)="isHome()" routerLink=''>Home</p>
    <p class="navText" [class.active]="isTopicsActive" (click)="isTopics()" routerLink='topics'>Topics</p>
  </div>
  <div id="navDivTwo">
    <p></p>
    <p *ngIf="!authService.isLoggedIn"></p>
    <p *ngIf="authService.isLoggedIn" class="navText" [class.active]="isUserActive"  routerLink='dashboard'>User</p>
    <p *ngIf="!authService.isLoggedIn" class="navText" routerLink="dashboard">Log In</p>
    <p *ngIf="authService.isLoggedIn" class="navText" (click)="authService.SignOut()">Log Out</p>
  </div>
</div>