#navDiv {
    height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.navText.active {
    color: #ff5252;
}

#mainNavDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
    margin-top: 25px;
    border-bottom: 1px solid black;
}

#navDivOne {
    margin-left: 25px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#navDivTwo {
    margin-right: 25px;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

*:focus {
    outline: 0;
    outline: none;
}