<div>
    <p id="topicHeader">{{topic?.title}}</p>
</div>

<div>
    <p id="topicDescription">{{topic?.description}}</p>
</div>

<div>
    <p> <button class="button" *ngIf="authService.isLoggedIn" (click)="openNewThread()">Create a new post</button></p>
</div>
<div  *ngIf="newThread">
    <app-new-post></app-new-post>
</div>




<div *ngFor="let post of posts">
    <div (click) = "goToPostDetailPage(post)" class="postCard">
        <p class="postTitle">{{post.title}}</p>
        <p>{{post.body}}</p>
    </div>
</div>


